body{
  font-family: "Avenir Next";
}

li{
  list-style: none;
  float: left;
  padding: 33px 20px;
}
.header {
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
  /* 上下のpaddingを20px、左右のpaddingを40pxにしてください */
  padding: 20px 40px;

}
.header-list li {
  float: left;
  padding: 33px 20px;
}
.main {
  /* background-colorの指定を消してください */
  
  /* 上下のpaddingを100px、左右のpaddingを80pxにしてください */
  padding: 100px 80px;
  
}
.copy-container h1 {
  font-size: 40px;
  color:#A5C0CC;
}
.copy-container span {
  color: #ff4a4a;
}


