body{
  font-family: "Avenir Next";
}

li{
  list-style: none;
  float: left;
  padding: 33px 20px;
}
.header {
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
}

h1{font-size:60px;
  color:#A5C0CC;}
h1{
  img{
    max-width: 50%;
    max-height: 50%;
  }
}

p{font-weight:bold;
 font-size:50px;
  font-family: "Lucida Grande";
}
